 * {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
 }

 body {
     font-family: "Poppins", sans-serif;
     }

 .header {
     display: flex;
     width: 100%;
     position: fixed;
     margin-bottom: 10rem;
 }

 .header__menu-search-dropdown-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 100%;
 }

 .header__menu-search-container {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: space-between;    
     padding: 0.5rem 0 0.5rem 0;
 }
 

 .header__search-container {
     border: 1px solid #000000;
     border-radius: 5px;
     width: 10%;
 }

 .header__title {
     text-align: center;
     /* text-shadow: 2px 2px D3D3D3; */
     /* text-shadow: 2px 2px 3px #D3D3D3; */
     color: #333333;   
     text-shadow: 2px 2px 0px #D3D3D3, 5px 4px 0px rgba(0,0,0,0.15);

     font-size: 1.8rem;
 }
 

 header img {
     width: 2rem;
 }

 .header__account-image {
     margin-right: 1rem;
 }

 .header__dropdown {
     display: flex;
     flex-wrap: wrap;
     display: none;
     z-index: 1;
     cursor: pointer;
     max-width: 50vw;
     background-color: #fff;
     border-bottom: 1px solid #D3D3D3;
     border-right: 1px solid #D3D3D3;
 }

 .showned-list {
     display: block;
 }

 li {
     min-width: 3rem;
     max-width: 50vw;
     padding-left: 1rem;
 }

 li:hover {
     background-color: #D3D3D3;
 }

 .main {    
     padding: 5rem 1rem 0 1rem;
   
 }

 .main__article {
     display: flex;
     width: 90vw;
     gap: 1rem;
     margin: 1rem 0 1rem 0;
 }


 .main__article-image {
     width: 40vw;
     height: auto;
 }

 .main__article-text-container {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     width: 40vw;
 }

 .main__article-title {
     overflow-wrap: break-word;
     font-size: 5vw;
     font-size: clamp(12px, 4vw, 22px);
     font-weight: bold;
 }

 .main__article-text {
     display: -webkit-box;
     max-width: 400px;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
 }